.offers-section {
  background-image: linear-gradient(#0d1e48, #304571);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.offers-section__footer-container {
  display: flex;
  flex-direction: column;
}

.offers-section__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.offers-section__footer-description {
  margin: 0;
  font-weight: 700;
  opacity: 60%;
}

.offers-section__link {
  white-space: nowrap;
  color: #ebff00;
  text-decoration: none;
  width: fit-content;
  font-size: 20px;
}

.offers-section__link:hover {
  color: #ebff0099;
}

/* desktop */
@media (min-width: 1248px) {
  .offers-section {
    padding: 60px 80px;
  }
  .offers-section__container {
    gap: 40px;
  }
  .offers-section__footer-container {
    margin-top: 20px;
    gap: 17px;
  }
  .offers-section__footer-title {
    font-size: 32px;
  }
  .offers-section__footer-description {
    font-size: 20px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1248px) {
  .offers-section {
    padding: 55px 30px;
  }
  .offers-section__footer-container {
    margin-top: 25px;
    gap: 20px;
  }
  .offers-section__container {
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .offers-section__footer-title {
    font-size: 24px;
  }
  .offers-section__link {
    font-size: 16px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .offers-section {
    padding: 50px 20px;
  }
  .offers-section__footer-container {
    margin-top: 20px;
    gap: 20px;
  }
  .offers-section__footer-description {
    font-size: 14px;
  }
  .offers-section__footer-title {
    font-size: 18px;
  }
  .offers-section__link {
    font-size: 14px;
  }
}
