.bannerButton {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: flex;
  color: black;
  justify-content: center;
  white-space: nowrap;
  max-width: 191px;
  background-color: #ebff00;
  border: #ebff00;
  border-color: #ebff00;
  border-radius: 100px;
}

.button {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100px;
  max-width: 191px;
  background-color: transparent;
  color: #ebff00;
  border: #ebff00 solid;
}

.button:hover {
  color: #ebff0099;
  border: #ebff0099 solid;
}

.bannerButton:hover {
  background-color: #ebff0099;
}

@media (min-width: 1248px) {
  .bannerButton {
    padding: 14px 40px;
    font-size: 22px;
  }
  .button {
    padding: 14px 40px;
    font-size: 22px;
  }
}

@media (max-width: 1247px) {
  .bannerButton {
    padding: 7px 40px;
    font-size: 22px;
  }
  .button {
    padding: 7px 40px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .bannerButton {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
}
